<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <script>
  function set_focus(el) {
    el = el[0]; // jquery 对象转dom对象
    el.focus();
    if ($.browser.msie) {
      var rng;
      el.focus();
      rng = document.selection.createRange();
      rng.moveStart('character', -el.innerText.length);
      var text = rng.text;
      for (var i = 0; i < el.innerText.length; i++) {
        if (el.innerText.substring(0, i + 1) == text.substring(text.length - i - 1, text.length)) {
          result = i + 1;
        }
      }
    } else {
      var range = document.createRange();
      range.selectNodeContents(el);
      range.collapse(false);
      var sel = window.getSelection();
      sel.removeAllRanges();
      sel.addRange(range);
    }

  </script>
</body>

</html>
